<!DOCTYPE html>
<html>
 
 <header>
    <section class="headerWrapper">
      <a href="/user/myProfile" class="userIcon">
        <i class="fa-solid fa-circle-user userIcon"></i>
      </a>
      <a href="/feed">
        <h1>Gaming Shelf</h1>
      </a>
    
        <form action="/dashboard/searchAPI" method="get" class="searchBar">
          <input class="movieName" type="text" placeholder="Game Name" name="userSearch" /><br>
          <button type="submit" class="btn btn-primary rnd" value="Upload"><i class="fa-solid fa-magnifying-glass"></i></button>        </form>
     
      <span class="logout"><a href="/logout">Logout</a></span>
    </section>
  </header>