<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>My Favorite Movies</title>
</head>
<body>
    <sheader class="header">
        <h1>My Favorite Movies</h1>
    </header>
    <section class="block">
    <section class="loginPanel">
        <a href="/login" class="login"> Login</a><br><br>
        <a href="/signup" class="login"> Signup</a>
    </section>
</section>
</body>
</html>