<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Gaming Shelf</title>
  </head>
  <body>
    <header>
      <section class="headerWrapper ">
        <h1>Gaming Shelf</h1>
      </section>
    </header>
    <section class="wrapper">
      <section class="block">
        <section class="Panel">
          <a href="/login" class="login"> Login</a><br /><br />
          <a href="/signup" class="login"> Signup</a>
        </section>
      </section>
    </section>
  </body>
</html>
