<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <section class="headerWrapper">
            <span class="logo"><a href="/">MFM</a></span>
            <h1>My Favorite Movies</h1>
            <span class="logout"><a href="/logout">Logout</a></span>
        </section>
    </header>
    <section class="wrapper">
      <h2>Hello <%= user.userName %>, please search for a movie to add to your favorites.</h2>
      <form action="/todos/searchAPI" method="GET">
        <input class="movieName" type="text" placeholder="Movie Name" name="userSearch">
        <input type="submit" class="movieSubmit">
      </form>
      <section class="searchResults">
        <% console.log(todos.obj) %> 
      </section>
      <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Add Movie" name='todoItem'>
        <input type="submit">
    </form>
    <ul>
    <% todos.forEach( el => { %>
        <li class='todoItem' data-id='<%=el._id%>'>
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
            <span class='del'> Delete </span>
        </li>
    <% }) %>    
    </ul>  
    </section>
    <script src="js/main.js"></script>
</body>
</html>