@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  box-sizing: border-box;
}

/* CSS FOR HTML ELEMENTS */

body {
  background-color: #48444a;
  padding: 0;
  margin: 0;
  font-family: 'Prompt', sans-serif;

}

h1 {
  color: white;
  font-size: 2em;
  margin: 0;
}

h2 {
  color: white;
  font-size: 1.4rem;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.3em;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: beige;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

input:focus {
  border-bottom: 1px solid purple !important;
  box-shadow: 0 1px 0 0 purple !important;
}

button:hover{
  background-color: #9224A8 !important;
}

button{
  background-color: #661976 !important;
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

footer {
  height: 7em;
  margin: 20% 0% 0% 0%;
  background-color: rgb(31, 31, 37);
  width: 100%;
}

span, p{
  color: white;
}

/* Wrappers */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  height: auto;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

/* Header Styles */
header {
  background-color: rgb(31, 31, 37);
  height: 5rem;
  width: 100%;
  text-align: center;
  margin: 0% 0% .25% 0%;
}

.centerIndex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-block;
  background-color: white;
  line-height: 75px;
  height: 60px;
  width: 60px;
  border-radius: 50%;

  text-align: center;

}

.userIcon{
 
  
  font-size: 2em;
}

/* Form Styles */
input {
  margin: 0.75em;
  background-color: rgb(31, 31, 37);
  text-decoration: none;
  border: 1px rgb(31, 31, 37);
  border-radius: 30px;
  text-align: center;
  font-size: medium;
  color: white;
}
/* FEED */
.feedPosts{
  text-align: center;
  justify-content: center;
}




/* Search Dashboard */
.searchResults {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.dCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 375px;
  padding: 0.5rem;
  text-align: center;
  margin: 5%;
}

img {
  display: inline-block;
  width: 100%;
  height: 245px;
  object-fit: contain;
  background-color: rgb(31, 31, 37)
}

.mName {
  color: white;
  height: 80%;
}

.Panel {
  width: auto;
  padding: 5em;
  height: auto;
  margin: auto;
  float: left;
  align-items: center;
  justify-content: center;
  background-color: rgb(47, 47, 54);
  color: white;
  display: flex;
  border: solid 1px rgb(47, 47, 54);
  border-radius: 5%;
  flex-direction: column;
}


.headerTitle {
  width: 100%;
  text-align: center;
}

.searchBar {
  width: 30%;
  
  float: left;
  display: flex;
 
}

.movieName{
  border: white solid;
  width: 20%;
  
}

.movieSubmit{
  clear: both;
  width: auto;
  float: left;
  border: solid white;
}

.searchImage {
  width: 100%;
  height: 70%;
}

.block {
  width: 100%;
  text-align: center;
  display: flex;
}


.imageWrapper {
  width: auto;

  display: block;
  border-radius: 5px;
}

.titleWrapper {

  margin: 0% 5%;
  width: 70%;
  text-overflow: ellipsis;
  white-space: no wrap;
  padding: 0%;
  display: flex;
  justify-content: baseline;
}

/* Game Page */

.gHeader {
  display: flex;
  align-items: baseline;
  z-index: 1;
  width: 100%;

}

.gCover {
  display: inline;
  
  background-color: rgb(31, 31, 37);
  width: 225px;
  height: 300px;
}

.gTitle {
  display: flex;
  margin: 0% 0%;
  font-size: 3em;
  color: white;
  text-overflow: clip;
  width: 60%;

}

.gDataChunk {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: white;
  width: 30%;
  height: 500PX;
  padding: 2%;
}


.Info {
  background-color: rgb(31, 31, 37);
  padding: 2%;
  border-radius: 10px;

  width: 100%;

}

.gSummary {
  display: flex;
  color: white;
  width: 95%;
  margin: 2.5%;
  height: auto;
}

.gPlatform {
  width: 95%;
  color: white;
  margin: 2.5%;
  display: flex;
  justify-content: space-between;
  height: auto;
  flex-flow: row wrap;
}

.gTop {
  display: flex;
  flex-flow: row wrap;
}

.test {
  display: inline-block;
  width: 100%;
  z-index: 0;
  background-color: rgb(31, 31, 37);
  height: 400px;
  margin: 0%;
  padding-top: 8%;

}

.gPostHeader{
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: rgb(31, 31, 37);
}

.gNoPosts{
  color: white;
  margin: 3%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.gNoPosts p{
  margin: auto;
  width: auto;
  height: auto;
  
}


.gPostsProfileView{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.follow{
  width: 10%;
  display: flex;
  height: 100%;
 margin: auto;
 font-weight: 600;
}

.formSubmit {
  width: 100%;
  margin: 2.5%;
float: left;
}

.gWrapper {
  max-width: 1600px;
  margin: 0 auto;

  height: auto;
}

.rnd {
  border-radius: 20px;
}

.submitSection {
  width: 30%;
  padding: 2%;

  height: 500PX;
  display: flex;
}

.gPosts {
 
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 40%;
  padding: 2.5%;
}

/* Any img tiles */
.screenPost {
  background-color: rgb(31, 31, 37);
  width: 30em;
  padding: 0% 0%;
  margin: 1%;
}

.screenPostImg {
  padding: 3%;
}

.screenPostCap {
  padding: 3%;
  text-align: left;
  width: 80%;
}

.screenPostUser{
  text-align: center;
  background-color: #2E2E38 ;
  margin: 0%;
  border-radius: 20px 20px 0px 0px;
}


.screenPostBottom{
  display: flex;
  justify-content: space-around;
}

.likes{
  width: 10%;
  display: flex; 
  justify-content: space-around;
  align-items: center;

}

.screenPostLikes{
  justify-content: center;
  
}

/* Post View */
.postView{
  background-color: #1F1F25;
  margin: 0% 3%;
}
.postViewTitle{
  margin: 0%;
}
.postViewUserName{
  color: white;
  margin: 1% 5%;
  height: auto;
}

.postViewImg{
  height: 100%;
  width: 100%;

}
.postViewImgWrapper{
 
  width: auto;
  display: flex;
  justify-content: center;
  padding: 2%;
  height: 80%;
}

.postViewComments{
 width: 30%;
 height: 100%;
margin: 0% 3%;
padding: 1%;
background-color: #1F1F25;
overflow-y:auto;
}

.postWrapper{

  width: 100%;
  height: 90vh;
  display: flex;
  box-sizing: border-box;
}

.commentSubmit{
  width: 100%;

}

.commentSubmit::after{
  width:100%;
}

.comment{
  margin: 1% 0%;
  color: white;
  text-align: left;
  
}

.commentHeader{
  background-color: #48444a;
  border-radius: 20px 20px 0px 0px;
 
}

.comment p, span{
  padding: 0% 2%;


  
}


/* mobile */

@media only screen and (max-width: 600px) {
  body {
width: 100%;  
}
header{
  width: 100%;
}
.test{
  padding: 30% 0% 0% 0%;
}
.gHeader{width: auto;
  margin: 0%;
  display: block;
}
.gtitle{
  width: 100%;
  display: block;
  margin: 0%;
  font-size: 1em;
  text-align: center;
}

.gCover{
  margin: auto;
  text-align: center;
}
.titleWrapper, .imageWrapper{
  text-align: center;
  padding: none;
  margin: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.gDataChunk{
  width: 100%;
}
.submitSection{
  width: 100%;
}

.gTop{
  flex-direction: row-reverse;
}

.gPosts{
  flex: 2;

}

.Info{
  height: auto;
  float: left;
}


.formSubmit{
  height: 300px;
}

.postView{
  width: 100%;
}

.postViewComments{
  width: 100%;
}

.postWrapper{
  display: flex;
  flex-wrap: wrap;
}

.postWrapper section{
  margin: 2%;
}

.postView{
  height: auto;

}
}