* {
  box-sizing: border-box;
}
/* CSS FOR HTML ELEMENTS */

body {
  background-color: rgb(40, 40, 48);
  background-image: url('/Assets/Pictures/kindpng_1133195.png');
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
  font-size: 2em;
  margin: 0;
}

h2 {
  color: white;
  font-size: 1.4rem;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.3em;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: beige;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

/* Wrappers */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

/* Header Styles */
header {
  background-color: rgb(31, 31, 37);
  height: 6rem;
  width: 100%;
  text-align: center;
}

.centerIndex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: inline-block;
  background-color: white;
  line-height: 75px;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.logo a {
  color: black;
  font-weight: bold;
}

/* Form Styles */
input {
  margin: 0.75em;
  background-color: rgb(31, 31, 37);
  text-decoration: none;
  border: 1px rgb(31, 31, 37);
  border-radius: 30px;
  text-align: center;
  font-size: medium;
  color: white;
}

.searchResults {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 375px;
  padding: 0.5rem;
  text-align: center;
  margin: 5%;
}

img {
  display: inline-block;
  width: 100%;
  height: 275px;
  object-fit: contain;
  background-color: rgb(31,31,37)
}

.mName {
  color: white;

  height: 80%;
}

.feedback {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 0.6rem;
  padding: 0 0.5rem;
  justify-content: space-between;
  height: 20%;
}

.Panel {
  width: auto;
  padding: 5em;
  height: auto;
  margin: auto;
  float: left;
  align-items: center;
  justify-content: center;
  background-color: rgb(47, 47, 54);
  color: white;
  display: flex;
  border: solid 1px rgb(47, 47, 54);
  border-radius: 5%;
  flex-direction: column;
}

.login {
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.block {
  width: 100%;
  text-align: center;
  display: flex;
}

.headerTitle{
  width: 100%;
  text-align: center;
}

.searchBar{
  width: 100%;
  text-align: center;
  justify-content: center;
  float: left;
  display: flex;
  align-items: center;
}

.searchImage{
 width: 100%;
 height: 80%;
}

.favBottom{
  height: 100%;
  width: 100;

}

.titleFav{
  height: 3em;
  width: auto;

  display: inline block
}

.del:hover{
  color: red;
  text-decoration: underline;
}